<a routerLink="/department-list" routerLinkActive="active">Department</a>
<a routerLink="/employment" routerLinkActive="active">Employment</a>

<!-- <app-department-list-details></app-department-list-details> -->
<router-outlet />

<hr />
<app-comp1></app-comp1>
<br />
<app-comp2></app-comp2>

<hr />
<button (click)="subscribe()">subscribe</button>
<button (click)="unsubscribe()">unsubscribe</button>

<hr />
<!-- 
این خط مانع از رفتار پیش فرض دکمه submit
میشود
-->
<h3>form handling</h3>
<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div ngModelGroup="userInfo" #userInfo="ngModelGroup">
    <label>username</label>
    <input type="text" ngModel name="userName" required />
    <br />
    <label>email</label>
    <input type="email" ngModel name="email" required #email="ngModel" />
    <span *ngIf="!email.valid && email.touched">please enter valid email!</span>
  </div>
  <span *ngIf="!userInfo.valid && userInfo.touched"
    >please enter valid info!</span
  >
  <br />
  <label for="sec">secret question</label>
  <select
    id="sec"
    ngModel
    name="secretQuestion"
    [ngModel]="defaultValueSecretQuestion"
  >
    <option value="wBorn">where do you born?</option>
    <option value="hOld">how old are you?</option>
  </select>
  <input type="text" name="questionAnswer" [(ngModel)]="answer" />
  <div><span style="color: red">you wrote: </span>{{ answer }}</div>
  <div *ngFor="let gend of genders">
    <label for="">
      <input type="radio" name="gend" ngModel [value]="gend" required />
      {{ gend }}
    </label>
  </div>
  <button type="submit" [disabled]="!f.valid">send</button>
</form>
